body {
  background-color: lightgray;
  font-family: 'Jura', sans-serif;
  font-weight: 300;
}

.title {
  width: 100%;
  height: 520px;
  background: url(/Recursos/Images/15.jpg) no-repeat center/cover;
  padding: 100px 0 0 30px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.title h2 {
  margin-top: 33%;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bolder;
}

.foot h2 {
  font-size: 15px;
  padding-left: 30px;
  color: #2e2e2e;
  margin-bottom: 50px;
}

.writer {
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
  color: black;
}

.writer h2 {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 300px;
  margin-bottom: 50px;
}

.writer h6 {
  width: 30%;
  font-weight: lighter;
  display: inline;
  margin-right: 20%;
}

.butts {
  text-align: right;
  display: inline;
}

.perfil {
  width: 10%;
  border-radius: 100px;
}

.text h2 {
  padding-bottom: 10px;
  color: black;
  font-weight: bold;
  font-style: italic;
}

.text {
  margin: auto;
  width: 50%;
  text-align: justify;
  color: black;
}

.images {
  width: 100%;
  margin-bottom: 20px;
}

.comment {
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.btncom {
  width: 40%;
  margin-right: 19%;
}

.options {
  text-align: right;
  margin-bottom: 20px;
}

.btnpost {
  margin-left: 10px;
}

.sidebar {
  position: fixed;
  width: 40%;
  color: black;
  background-color: white;
  top: 0;
  right: -40%;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  overflow-y: scroll;
  height: 100%;
}

.sidebar.active {
  right: 0;
}

.close_btn {
  text-align: right;
  margin-right: 10px;
  position: fixed;
  margin-left: 35%;
}

.side {
  margin: 10px 30px 30px 30px;
}

.side h2 {
  margin-right: 10px;
  width: 50%;
  display: inline;
  font-weight: bold;
}

.texta {
  font-size: 16px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 40px;
  margin-top: 15px;
}

.text2 {
  text-justify: auto;
  font-size: 15px;
}

.bar {
  height: 35px;
  border-bottom: 1px solid #e7e7e7;
  background-color: transparent;
}

.post .text-muted {
  font-size: 13px;
  margin-right: 7px;
  width: 50%;
  display: inline;
}

.opinion {
  font-size: 15px;
}

.reply {
  height: 40px;
  border-bottom: 1px solid #e7e7e7;
}

.report {
  margin-left: 75%;
}

.btn-link {
  color: #353535;
}

.btn-link:focus {
  color: #2262ec;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*MEDIA QUERYS*/
@media (max-width: 1100px) {
  .title {
    height: 400px;
  }
  .title h2 {
    margin-top: 25%;
  }
  .foot h2 {
    font-size: 13px;
    padding-left: 0px;
    text-align: justify;
    margin-bottom: 30px;
  }
  .writer {
    width: 100%;
    margin: auto;
  }
  .perfil {
    width: 10%;
  }
  .writer h2 {
    margin-right: 60%;
    margin-bottom: 50px;
  }
  .writer h6 {
    display: inline-block;
    width: 50%;
    margin-bottom: 40px;
    margin-right: 20%;
  }
  .butts {
    text-align: right;
    width: 50%;
  }
  .text {
    width: 100%;
  }
  .text h2 {
    margin-bottom: 20px;
  }
  .comment {
    width: 100%;
  }
  .btncom {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
  }
  .sidebar {
    width: 60%;
    right: -60%;
  }
  .close_btn {
    margin-left: 42%;
  }
  .side {
    margin: 35px;
    width: 70%;
  }
  .report {
    margin-left: 65%;
  }
}

@media (max-width: 1000px) {
  .title {
    height: 350px;
  }
  .writer h6 {
    display: inline-block;
    width: 50%;
    margin-bottom: 40px;
    margin-right: 10%;
  }
}

@media (max-width: 700px) {
  .title {
    height: 250px;
  }
  .title h2 {
    margin-top: 20%;
  }
  .perfil {
    width: 20%;
  }
  .writer h2 {
    margin-right: 50px;
    margin-bottom: 40px;
  }
  .writer h6 {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .butts {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin-bottom: 30px;
  }
  .text {
    width: 100%;
  }
  .text h2 {
    margin-bottom: 20px;
  }
  .comment {
    width: 100%;
  }
  .btncom {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
  }
  .sidebar {
    width: 100%;
    right: -100%;
  }
  .close_btn {
    margin-left: 70%;
  }
  .side {
    margin: 10px;
    width: 75%;
  }
  .report {
    margin-left: 70%;
  }
}

@media (max-width: 500px) {
  .footer-links .footer-contenedor-pw {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .close_btn {
    margin-left: 78%;
  }
  .side {
    margin: 10px;
    width: 83%;
  }
  .report {
    margin-left: 70%;
  }
}

@media (max-width: 400px) {
  .title h2 {
    margin-top: 20%;
  }
  .sidebar {
    width: 100%;
    right: -100%;
  }
  .close_btn {
    margin-left: 75%;
  }
  .side {
    margin: 15px;
    width: 80%;
  }
  .report {
    margin-left: 60%;
  }
}
/*# sourceMappingURL=news.css.map */